@import '../styles/variables.css';

.Button {
  --color: var(--color-black);
  --border-color: var(--color-black);
  --background-color: var(--color-white);

  font-size: var(--font-size);
  color: var(--color);
  padding: var(--padding);
  border: 1px solid var(--border-color);
  border-radius: calc(0.25 * var(--unit));
  background-color: var(--background-color);
  transition: all 0.3s;
}

.Button:not(:disabled) {
  cursor: pointer;
}

.Button--size-xs {
  --font-size: var(--font-size-xs);
  --padding: var(--padding-xs);
}

.Button--size-sm {
  --font-size: var(--font-size-sm);
  --padding: var(--padding-sm);
}

.Button--size-md {
  --font-size: var(--font-size-md);
  --padding: var(--padding-md);
}

.Button--size-lg {
  --font-size: var(--font-size-lg);
  --padding: var(--padding-lg);
}

.Button--size-xl {
  --font-size: var(--font-size-xl);
  --padding: var(--padding-xl);
}

.Button--theme-primary {
  --background-color: var(--color-primary);
  --border-color: var(--color-primary);
  --color: var(--color-white);
}

.Button--theme-secondary {
  --background-color: var(--color-secondary);
  --border-color: var(--color-secondary);
  --color: var(--color-white);
}

.Button--theme-success {
  --background-color: var(--color-success);
  --border-color: var(--color-success);
  --color: var(--color-white);
}

.Button--theme-info {
  --background-color: var(--color-info);
  --border-color: var(--color-info);
  --color: var(--color-white);
}

.Button--theme-warning {
  --background-color: var(--color-warning);
  --border-color: var(--color-warning);
  --color: var(--color-black);
}

.Button--theme-danger {
  --background-color: var(--color-danger);
  --border-color: var(--color-danger);
  --color: var(--color-white);
}

.Button--theme-dark {
  --background-color: var(--color-black);
  --border-color: var(--color-black);
  --color: var(--color-white);
}
