@import '../styles/variables.css';

.ButtonGroup .btn {
  margin-bottom: var(--gutter);
}

.ButtonGroup .btn:not(:last-child) {
  margin-right: var(--gutter);
}

.ButtonGroup--gutter-xs {
  --gutter: var(--gutter-xs);
}

.ButtonGroup--gutter-sm {
  --gutter: var(--gutter-sm);
}

.ButtonGroup--gutter-md {
  --gutter: var(--gutter-md);
}

.ButtonGroup--gutter-lg {
  --gutter: var(--gutter-lg);
}

.ButtonGroup--gutter-xl {
  --gutter: var(--gutter-xl);
}
